<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet"
    href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css">
  <link rel="stylesheet" href="https://unpkg.com/filepond/dist/filepond.min.css">
  <link rel="stylesheet" href="/public/css/dashcss.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://kit.fontawesome.com/87390cb8ac.js" crossorigin="anonymous"></script>
  <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
  <%- include('partials/dashboard_css') %>
</head>

<body>
  <%- include('partials/navbar') %>


    <div class="menu">
      <div class="side_content">
        <form action="/dashboard/search" method="POST" role="form">
          <input type="search" class="form-control" id="searchName" name="filtername" placeholder="Enter name"><br>
          <button type="submit" id="search">SEARCH</button>
           <h4 style="color:white;"><%=message.message%></h4>
        </form>

        <form onsubmit="checkextension()" method="post" role="form" enctype="multipart/form-data">
          <img id="resize" src="/uploads/<%=img_name%>" alt="<%=img_name%>"><br>
          <!-- <label for="file" >Upload File</label> -->
          <% if(domain.length==0){%>
            <span>No domain provided</span>
            <%}else{%>
              <span style="color:#ddd">Domain: </span>
              <%for(let i=0;i<domain.length;i++){%>
                <span>
                  <%=domain[i]%>
                </span>
                <%if(i!=domain.length-1){%>
                  <span> , </span>
                  <%}%>
                    <%}%>

                      <% } %>
                        <p style="color: white; font-size: 0.8rem; margin:15px 0 5px 0;">* Valid file types are :.png,
                          .jpeg, .jpg, .gif</p>
                        <input type="file" class="form-control" name="file" id="fUpload" required /><br>
                        <input type="submit" name="upload" value="Upload" id="shiftupload" class="btn1">
        </form>

        <form action="/dashboard/domain" method="GET">
          <button type="submit">Find Collaborator</button>
        </form>
        <form action="/dashboard/chat" method="GET">
          <button type="submit">CHAT</button>
        </form>
        <!-- <form action="/dashboard/logout" method="GET">
          <button type="submit">LOG OUT</button>
        </form> -->
      </div>

      <div class="content">
        <h1 style="margin-bottom: 10px;" >Work done:</h1>
        
          <%if(project.length>0){%>
                <%for(var i=0;i<project.length;i++){%>
                  <div class="project_content">
                    <h2 style="text-transform: capitalize;">
                      <%=project[i].title%>
                      <form action="/dashboard/project/delete/<%=i%>" method="POST">
                        <button class="deletebtn" type="submit"><span class="iconify" data-icon="fluent:delete-24-filled" data-inline="false"></span></button>
                      </form>
                    </h2><hr style="border-bottom: 2px solid black; margin-top: 5px;"><br>
                    <h5>Domain needed are : </h5>
                      <!-- <h4> -->
                        <%for(var j=0;j<project[i].domain.length;j++){%>
                          <%if(project[i].domain[j] === "Python"){%>
                          <p style="display:inline-block; font-weight: bold; margin:8px 2px 0 0; padding:5px 10px; border-radius: 8px;color:black; background-color:tomato;">Python</p>
                          <%}else if(project[i].domain[j]==="JavaScript"){%>
                          <p style="display:inline-block; font-weight: bold; margin:8px 2px 0 0; padding:5px 10px; border-radius:  8px;color:black; background-color:gold;">JavaScript</p>
                          <%}else if(project[i].domain[j]==="HTML"){%>
                            <p style="display:inline-block; font-weight: bold; margin:8px 2px 0 0; padding:5px 10px; border-radius:  8px;color:black; background-color:hotpink;">HTML</p>
                          <%}else if(project[i].domain[j]==="CSS"){%>
                            <p style="display:inline-block; font-weight: bold; margin:8px 2px 0 0; padding:5px 10px; border-radius:  8px;color:black; background-color:orange;">CSS</p>
                            <%}else if(project[i].domain[j]==="C++"){%>
                              <p style="display:inline-block; font-weight: bold; margin:8px 2px 0 0; padding:5px 10px; border-radius:  8px;color:black; background-color:limegreen;">C++</p>
                          <%}%>  
                        <%}%>
                      <!-- </h4> -->
                        <p style="margin-top:15px; display: flex;" id="pp">
                          <%=project[i].description.substring(0,30)%>...
                          <a href="/dashboard/username/<%=i%>"><span class="iconify fa-arrow-alt-circle-right" data-icon="carbon:next-filled" data-inline="false"></span></a>
                        </p>
                    </div>
                    <%}%>
            <%}else{%>
                <h1>None</h1>
            <%}%>
      </div>




      <script>
        function checkextension() {
          var file = document.querySelector("#fUpload");
          if (/\.(jpe?g|png|gif)$/i.test(file.files[0].name) === false) { alert("not an image!"); }
          else {
            fetch('localhost:3000/dashboard')
              .then(response => response.json())
              .then(data => console.log(data));
          }
        }
        //to reload when it is accessed through back button of browser
        var perfEntries = performance.getEntriesByType("navigation");

        if (perfEntries[0].type === "back_forward") {
            location.reload(true);
        }
      </script>
      <script>
        $(function () {
          $('#searchName').autocomplete({
            source: function (req, res) {
              $.ajax({
                url: "dashboard/search",
                dataType: "jsonp",
                type: "GET",
                data: req,
                success: function (data) {
                  //console.log(data);
                  res(data);
                },
                error: function (err) {
                  console.log(err.status);
                  // alert("user doesn't exists");
                }
              });
              //console.log(req);

              //res(req);
            },

            minLength: 1,
            select: function (event, ui) {
              if (ui.item) {
                $("#searchName").text(ui.item.label);
              }
            }
          });
        });
    </script>

<script>
  //to reload when it is accessed through back button of browser
  var perfEntries = performance.getEntriesByType("navigation");
  
  if (perfEntries[0].type === "back_forward") {
    location.reload(true);
  }
      
  </script>
</body>


</html>