<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <title>Project Description</title>
    <%- include('partials/project_css') %>
</head>

<body>
    <%- include('partials/navbar') %>
    <span ><%= searchUser %></span>
    <div class="main">
        <div class="description">
            <h1>
                <span>Project Title: </span> <%=project.title%>
            </h1><br>
            <h3>
                <span>Domain needed are : </span></h3>
            <h3>
            <%for(var j=0;j<project.domain.length;j++){%>
                <%if(project.domain[j] === "Python"){%>
                    <p style="display:inline-block; margin:8px 2px 0 0; padding:5px 10px; border-radius: 8px; color: #000; background-color:tomato;">Python</p>
                    <%}else if(project.domain[j]==="JavaScript"){%>
                    <p style="display:inline-block; margin:8px 2px 0 0; padding:5px 10px; border-radius: 8px ;color: #000; background-color:gold;">JavaScript</p>
                    <%}else if(project.domain[j]==="HTML"){%>
                      <p style="display:inline-block; margin:8px 2px 0 0; padding:5px 10px; border-radius: 8px ;color: #000; background-color:hotpink;">HTML</p>
                    <%}else if(project.domain[j]==="CSS"){%>
                      <p style="display:inline-block; margin:8px 2px 0 0; padding:5px 10px; border-radius: 8px ;color: #000; background-color:orange;">CSS</p>
                      <%}else if(project.domain[j]==="C++"){%>
                        <p style="display:inline-block; margin:8px 2px 0 0; padding:5px 10px; border-radius: 8px ;color: #000; background-color:limegreen;">C++</p>
                    <%}%> 
                <%}%>
                      </h3><br>

                    <p id="pp">
                        <strong><span>Project Description: </span></strong> <br> <%=project.description%>
                    </p>
        </div>
    </div>

    <script>

		var perfEntries = performance.getEntriesByType("navigation");

        if (perfEntries[0].type === "back_forward") {
            location.reload(true);
        }
    </script>

</body>

</html>